.uploadBtn {
  width: 200px;
  padding: 5px;
  background-color: #26272e;
  border-width: 2px;
  border-radius: 6px;
  color: #ffbe6a;
  font-size: 20px;
  border-color: #ffbe6a;
  margin-left: 100px;
}
