@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #26272e !important;
}
.cardLink {
  text-decoration: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  position: relative;
  z-index: 100;
}
.container .card {
  position: relative;
  width: 300px;
  height: 520px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
}
.content-1 {
  position: relative;
  width: 100%;
  height: 48%;
  background-image: linear-gradient(to bottom right, #fd8f22, #feb11f, #ffc519);
}
.content-1::after {
  content: "Nike";
  position: absolute;
  left: -24%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(250, 208, 93, 0.493);
}
.content-1 .logo-img img {
  width: 30px;
  height: 15px;
  position: absolute;
  top: 10%;
  right: 5%;
}
.content-1 img {
  width: 300px;
  height: 220px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 100;
}
.content-2 {
  position: relative;
  height: 52%;
  padding-top: 18px;
}

.branding,
.ratings,
.size,
.color {
  padding-left: 20px;
}
.branding span:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
}
.branding span:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 5px;
}
.branding span:nth-child(3) {
  position: absolute;
  right: 4%;
  top: 4%;
  font-size: 10px;
  background: #fb5c36;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px 2px;
}
.branding h4 {
  font-size: 15px;
  font-weight: 500;
}
.ratings span {
  display: inline-block;
  text-align: center;
  line-height: 26px;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.5s;
  color: #949493;
}
.ratings span:hover {
  color: #0a0d0f;
}
.size,
.color {
  font-size: 12px;
}
.size span {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  margin: 2px 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.size span:hover {
  background: #ffc400;
}

.color span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 26px;
  font-size: 10px;
  margin: 10px 15px 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.color span:nth-child(2) {
  background: #0945a1;
}
.color span:nth-child(3) {
  background: #eb4835;
}
.color span:nth-child(4) {
  background: #a6ff00;
}
.color span:hover:nth-child(2):after {
  content: "";
  display: inline-block;
  border: 1px solid #0945a1;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -4.1px;
  margin-top: -3.9px;
}
.color span:hover:nth-child(3):after {
  content: "";
  display: inline-block;
  border: 1px solid #eb4835;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -4.1px;
  margin-top: -3.9px;
}

.color span:hover:nth-child(4):after {
  content: "";
  display: inline-block;
  border: 1px solid #a6ff00;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -3.9px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}
.price span {
  background-image: linear-gradient(to right, #0ab5cf, #17d1ee);
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
}
.price span:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.price span:active {
  transform: translateY(1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.sectionMain .row:nth-child(2) {
  background-color: #4d5058;
  border-radius: 10px;
  margin-top: 30px;
}
.card {
  border-radius: 15px !important;
  overflow: hidden !important;
  background-color: #26272e !important;
  box-shadow: 1px 2px 12px #000;
  border-width: 4px !important;
  border-color: transparent;
}
.card:hover {
  border-width: 4px;
  border-color: #ffbe6a;
}
.card .imgWrapper {
  text-align: center;
}
.card-body .card-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 50px;
  color: #fff !important;
}
.card-body .card-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 100px;
  color: #fff;
}
.card-body .btnGo {
  display: block !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffbe6a;
  color: #ffbe6a;
  padding: 0.675rem 0.75rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.smallProductType {
  color: #fff !important;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}
.imgWrapper {
  max-height: 250px;
  overflow: hidden;
}
.card img {
  width: 100%;
  max-height: 250px;
  object-fit: fill;
}
